<div class="modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 ng-if="!vm.editMode">{{:: 'adminReportEdit.titleAdd' | message}}</h2>
        <h2 ng-if="vm.editMode">{{:: 'adminReportEdit.titleEdit' | message}}</h2>
      </div>
      <div class="modal-body">
        <form id="editReport">
          <fieldset class="form-group">
            <label for="name" class="is-required">{{:: 'adminReportEdit.name' | message}}</label>
            <div class="input-control" ng-class="{'is-invalid': vm.invalidFields.has('name')}">
              <input type="text" id="name" style="width: 100%" ng-model="vm.report.name"
                ng-change="vm.validateField(vm.report.name, 'name')" required />
            </div>
            <ul class="openlmis-invalid" ng-if="vm.invalidFields.has('name')">
              <li>{{'adminReportEdit.fieldRequired' | message}}</li>
            </ul>
          </fieldset>
          <fieldset class="form-group">
            <label for="URL" class="is-required">{{:: 'adminReportEdit.URL' | message}}</label>
            <div class="input-control" ng-class="{'is-invalid': vm.invalidFields.has('url')}">
              <input type="text" id="URL" style="width: 100%" ng-model="vm.report.url"
                ng-change="vm.validateField(vm.report.url, 'url')" required />
            </div>
            <ul class="openlmis-invalid" ng-if="vm.invalidFields.has('url')">
              <li>{{'adminReportEdit.fieldRequired' | message}}</li>
            </ul>
          </fieldset>
          <fieldset class="form-group">
            <label for="category" class="is-required">{{:: 'adminReportEdit.category' | message}}</label>
            <div class="input-control" ng-class="{'is-invalid': vm.invalidFields.has('category')}">
              <select id="category" ng-change="vm.validateField(vm.report.category, 'category')"
                ng-model="vm.report.category" ng-options="category.name for category in vm.categories"
                required></select>
            </div>
            <ul class="openlmis-invalid" ng-if="vm.invalidFields.has('category')">
              <li>{{'adminReportEdit.fieldRequired' | message}}</li>
            </ul>
          </fieldset>
          <fieldset class="form-group">
            <label for="type" class="is-required">{{:: 'adminReportEdit.type' | message}}</label>
            <div class="input-control" ng-class="{'is-invalid': vm.invalidFields.has('type')}">
              <select id="type" ng-change="vm.validateField(vm.report.type, 'type')"
                ng-model="vm.report.type" ng-options="type for type in vm.types"
                required></select>
            </div>
            <ul class="openlmis-invalid" ng-if="vm.invalidFields.has('type')">
              <li>{{'adminReportEdit.fieldRequired' | message}}</li>
            </ul>
          </fieldset>
          <fieldset class="form-group">
            <label for="enabled">
              <input id="enabled" type="checkbox" ng-model="vm.report.enabled" />
              {{:: 'adminReportEdit.enabled' | message}}
            </label>
          </fieldset>
          <fieldset class="form-group">
            <label for="showOnHomePage">
              <input id="showOnHomePage" type="checkbox" ng-model="vm.report.showOnHomePage" />
              {{:: 'adminReportEdit.showOnHomePage' | message}}
            </label>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button id="cancel" ng-click="vm.goToPreviousState()">
          {{:: 'adminReportEdit.cancel' | message}}
        </button>
        <button class="primary" ng-click="vm.confirmEdit()">
          {{vm.editMode ? 'adminReportEdit.edit' : 'adminReportEdit.save' | message}}
        </button>
      </div>
    </div>
  </div>
</div>