.requisition-group-facilities > .form-inline {
  flex-wrap: wrap;
}

.requisition-group-programs > .form-inline {
  flex-wrap: wrap;
}

#requisition-group-edit-table {
  .toolbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    .filters {
      @include margin-right(auto !important);
    }
  }
}

