.alerts-panel-wrapper {
    margin-top: 0.5rem;
    font-size: 17px;

    .header-section {
        font-size: $font-size-large;
        margin-bottom: 1rem;
    }

    .alerts-panel {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 0.5rem 1rem;

        .card {
            @include flex-layout(column, $gap: 0.5rem);
            padding: 2rem 1rem;
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
            border-radius: 1rem;

            .card-header-wrapper {
                min-height: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            .card-data {
                @include flex-layout(column, $gap: 0.5rem);

                > span:first-child {
                    margin-top: 1rem;
                }

                .important-information {
                    font-weight: bold;
                }
            }

            .card-data-single {
                flex-grow: 1;
                align-self: center;
                display: grid;
                place-items: center;
                margin-top: 1rem;

                > span {
                    font-size: 60px;
                }
            }
        }
    }

    @media screen and (max-width: 900px) {
        .alerts-panel {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
