<div class="alerts-panel-wrapper" ng-if="$ctrl.homeFacility">
    <section class="header-section">
        <h2>
            {{$ctrl.homeFacility.name}}
        </h2>
    </section>
    <div class="alerts-panel">
        <section class="card">
            <div class="card-header-wrapper">
                <strong class="card-header">
                    {{:: 'label.requisitions' | message }}
                </strong>
            </div>
            <div class="card-data">
                <span ng-if="$ctrl.requisitionsStatusesStats"
                      ng-repeat="stat in $ctrl.requisitionsStatusesStats"
                      ng-class="{'important-information': stat.isImportant}">
                    {{stat.key}}: {{stat.value}}
                </span>
            </div>
        </section>
        <section class="card">
            <div class="card-header-wrapper">
                <strong class="card-header">
                    {{:: 'label.ordersAndPod' | message }}
                </strong>
            </div>
            <div class="card-data">
                <span ng-if="$ctrl.ordersStatusesStats"
                      ng-repeat="stat in $ctrl.ordersStatusesStats"
                      ng-class="{'important-information': stat.isImportant}">
                    {{stat.key}}: {{stat.value}}
                </span>
            </div>
        </section>
        <section class="card">
            <div class="card-header-wrapper">
                <strong class="card-header">
                    {{:: 'label.requisitionsToBeCreated' | message }}
                </strong>
            </div>
            <div class="card-data-single">
                <span>
                    {{ $ctrl.requisitionsToBeCreated }}
                </span>
            </div>
        </section>
    </div>
</div>
